@import "../UI/style.scss";

.menuBar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../../img/bgmenu.jpeg');
    animation: bganimation 2s;
}
.menuBar__list {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotate(-20deg) skew(25deg);
    animation: mountMenuItems 4s;
}
.menu__link {
    text-decoration: none;
    margin-right: 100px;

}
.menu__icon-container {
    background: none;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 60px;
    transition: all .5s;
    .menu__icon-desc {
        color: #ccc;
    }
    .menu__icon-hide {
        position: absolute;
        transform: translate(40px, -40px);
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
        color: white;
        display: flex !important;
        align-items: center;
        justify-content: center;
        z-index: 20;
        opacity: 0;
    }
    &:before {
        position: absolute;
        content: "";
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background: $pink;
        opacity: 0;
    }
    &:after {
        position: absolute;
        content: "";
        left: 0px;
        right: 0px;
        bottom: 0px;
        top: 0px;
        background: $purple;
        opacity: 0;
    }
    .menu__icon {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color: #ccc;
        font-size: 45px;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    &:hover {
        &:before {
            transform: translate(20px, -20px);
            z-index: 10;
            transition: all 0.5s;
            opacity: 1;
        }
        &:after {
            transform: translate(40px, -40px);
            z-index: 15;
            transition: all 0.5s;
            opacity: 1;
        }
        .menu__icon-hide {
            opacity: 1;
            transition: 1s;
            transition-delay: .1s;
        }
    }
}

@keyframes mountMenuItems {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bganimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}